<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 
	通过namespace将mapper接口引入
-->
<mapper namespace="com.mr.easybuy.wares.mapper.TypesMapper">


<select id="findAuthList" resultType="com.mr.easybuy.wares.entity.Tree">
    select io_id id,io_name text,url,pid from t_inventory
</select>


</mapper>